@import 'default'


.wrapper
	width: 80vmin
	height: 100%
	margin: 0 auto
.game
	position: relative
	display: flex
	flex-direction: column
	height: 100%
.header
	width: 100%
	height: 20%
	background-color: yellow
.field
	display: flex
	flex-wrap: wrap
	width: 100%
	height: 80%
	background-color: #fff
	.ceil
		display: flex
		align-items: center
		justify-content: center
		width: 23%
		margin: 1%
		height: 20%
		border: 2px solid green
		border-radius: 5px
		font-size: 5vmin
	




@import "media"